/*=============== Our Food Gallary =================*/

.dish{
    min-height: 100vh;
}

.dish .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem auto;
    border-bottom: 2px solid #eee;
}

.dish .controls .buttons{
    margin:1rem 10px;
    border-bottom:.2rem solid transparent;
    color:#333;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}

.dish .controls .buttons.button-active,
.dish .controls .buttons:hover{
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.dish .container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.dish .image img{
     height: 10rem;
    width: 100%;
    object-fit: cover;
    box-shadow:2px 2px 4px 0px rgb(0 0 0 / 30%)
}

.dish .image{
   margin-bottom: 2rem;
}

.dish .image a{
    font-size: 1.1rem;
    color: #333;
    padding: .5rem;
    position: absolute;
    left: 15px;
    bottom: 0;
    background: #fff;
}

.dish .image a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}



/*============= END =============*/

